@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* NavBar Styles */
body {
  background: rgba(15, 25, 35, 1);
  display: flex;
}
.v3_5 {
  width: 100%;
  height: 100px;
  background: rgba(15, 25, 35, 1);
  opacity: 1;
  /* position: absolute; */
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.nav {
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
  color: aliceblue;
  margin-top: 40px;
}
.image {
  width: 35px;
  height: 35px;
  background: url("../images/Valorant-typography.png");
}
.navbar span {
  width: 142px;
  color: rgba(255, 255, 255, 1);
  top: 35px;
  left: 26px;
  font-family: Kanit;
  font-weight: Medium;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.val-icon {
  width: 35px;
  height: 35px;
  background: url("../images/nav-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1723px;
  overflow: hidden;
  z-index: 99;
}
.v7_36 {
  width: 54px;
  height: 43px;
  background: rgba(255, 70, 85, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1714px;
  overflow: hidden;
}
.v3_4 {
  width: 100%;
  height: 1081px;
  overflow: hidden;
}

.v5_33 {
  width: 27px;
  height: 17px;
  background: rgba(126, 126, 126, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 115px;
}
.v48_4 {
  width: 298px;
  height: 47px;
  /* background: url("../images/v48_4.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 158px;
  overflow: hidden;
}
.v48_3 {
  width: 298px;
  height: 47px;
  /* background: url("../images/v48_3.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_45 {
  width: 298px;
  height: 47px;
  /* background: url("../images/v7_45.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_34 {
  width: 8px;
  height: 5px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 590px;
  left: 471px;
  overflow: hidden;
}
.v5_35 {
  width: 7px;
  height: 4px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3_7 {
  width: 100%;
  height: 689px;
  background: url("../images/hero_update.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 135%;
  background-position: 0% 33%;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
}
.v3_8 {
  width: 100%;
  height: 294px;
  background: rgba(15, 25, 35, 1);
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 0px;
  overflow: hidden;
}
.v3_9 {
  width: 100%;
  height: 690px;
  background: rgba(17, 16, 16, 0.550000011920929);
  opacity: 1;
  position: absolute;
  top: 97px;
  overflow: hidden;
}
.v3_15 {
  width: 465px;
  height: 62px;
  background: rgb(250, 250, 250);
  font-size: 24px;
  opacity: 1;
  position: absolute;
  top: 459px;
  left: 162px;
  border-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  text-indent: 40px;
}
.v3_15:hover {
  background: white;
}
input:focus {
  outline: none !important;
}
.v3_25 {
  width: 305px;
  color: rgba(0, 0, 0, 0.5099999904632568);
  position: absolute;
  top: 479px;
  left: 221px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.banner {
  background: url("../images/Valorant-typography.png");
}
.v7_38 {
  width: 334px;
  height: 37px;
  background: rgba(255, 70, 85, 1);
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 228px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: transparent;
  overflow: hidden;
  z-index: 99;
  color:rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 15.7px;
}
.v7_39 {
  width: 130px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 577px;
  left: 176px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_43 {
  width: 336px;
  height: 65px;
  background: rgba(70, 70, 70, 0.678);
  opacity: 1;
  position: absolute;
  top: 690px;
  left: 766px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_43 span {
  color: aliceblue;
  font-weight: 500;
  font-size: 40px;
}
.v7_46 {
  width: 392px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 347px;
  left: 170px;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v7_48 {
  width: 345px;
  color: rgba(183, 178, 178, 1);
  position: absolute;
  top: 402px;
  left: 170px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v7_53 {
  width: 422px;
  height: 349px;
  /* background: url("../images/v7_53.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 863px;
  overflow: hidden;
}
.v7_57 {
  width: 350px;
  height: 335px;
  /* background: url("../images/v7_57.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 236px;
  overflow: hidden;
}
.v7_56 {
  width: 452px;
  height: 344px;
  /* background: url("../images/v7_56.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 127px;
  overflow: hidden;
}
.v7_58 {
  width: 197px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 797px;
  left: 26px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_59 {
  width: 197px;
  color: rgba(255, 255, 255, 1);
  /* position: absolute; */
  top: 798px;
  left: 571px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_60 {
  width: 197px;
  color: rgba(255, 255, 255, 1);
  /* position: absolute; */
  top: 797px;
  left: 1186px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_62 {
  width: 69px;
  color: rgba(181, 180, 180, 1);
  /* position: absolute; */
  top: 829px;
  left: 26px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_63 {
  width: 156px;
  color: rgba(181, 180, 180, 1);
  /* position: absolute; */
  top: 828px;
  left: 571px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_64 {
  width: 108px;
  color: rgba(181, 180, 180, 1);
  /* position: absolute; */
  top: 827px;
  left: 1186px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_2 {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  /* position: absolute; */
  top: 531px;
  left: 126px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.player-card {
  height: 325px;
  width: 300px;
  transform: translate(70%, 190%);
  /* From https://css.glass */
 background: rgba(202, 193, 207, 0.2);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(12.8px);
 -webkit-backdrop-filter: blur(12.8px);
 border: 1px solid rgba(255, 255, 255, 0.212);
 color: aliceblue;
}
